$light-grey: hsla(0, 0%, 56%, 0.48);
$main-color: rgba(199, 21, 133, 1);
$blue: hsla(200, 100%, 60%, 0.2);
$red: hsla(0, 100%, 60%, 0.2);
$yellow: hsla(50, 100%, 60%, 0.2);
$green:  hsla(100, 100%, 60%, 0.2);

$blue-full: hsla(200, 100%, 60%, 0.8);
$red-full: hsla(0, 100%, 60%, 0.8);
$yellow-full: hsla(50, 100%, 60%, 0.8);
$green-full:  hsla(100, 100%, 60%, 0.8);
