@import '../abstracts/mixins';

.to-do-container {
  @include create-card;

  box-shadow: 0 0 4px $light-grey;
  margin-left: 10px;
  box-sizing: border-box;
  position: relative;
  padding: 1%;
  overflow-y: auto;

  &.blue {
    background-color: $blue;
  }

  &.red {
    background-color: $red;
  }

  &.white {
    background-color: hsla(0, 0%, 100%, 1);
  }
  & > div:first-of-type {

    height: 80%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  & > #colors-bar {
    position: absolute;
    bottom: 0;
    left: 5%;
    height: 10%;
    width: 90%;
    border-top: 1px solid $light-grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    button {
      border: 1px solid lightgrey;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      margin-left: 5%;

      &:hover {
        box-shadow: 0 0 5px $light-grey;
        cursor: pointer;
      }
    }
    .blue {
      background-color: $blue;
    }
    .red {
      background-color: $red;
    }
    .white {
      background-color: hsla(0, 0%, 100%, 1);
    }
  }
}

.card-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  input {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0 0 1px 0;
    width: 80%;
    border-bottom: 1px solid $light-grey;
    height: 5vh;
    font-weight: bolder;
  }
  button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: xx-small;
    font-weight: bolder;
    width: 20%;
    &:hover {
      box-shadow: 0 0 4px $light-grey;
    }
  }
}

.create-new-item {
  background-color: hsla(0, 0%, 0%, 0);
  border-width: 0 0 1px 0;
  border-bottom: 1px solid $light-grey;
  color: mix($light-grey, hsla(0, 0%, 10%, 1), 60);
  text-align: left;
  cursor: pointer;
  margin-top: 2%;
  height: 4vh;
  width: 100%;
  border-radius: 2px;
  &:hover {
    border-color: $main-color;
  }
}
.to-do-item {
  display: flex;
  height: 4vh;
  margin-top: 1%;
  flex-direction: row;
  width: 100%;
  align-items: center;
  button {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0);
    border: 1.5px solid $light-grey;
    &:hover {
      background-color: $light-grey;
      cursor: pointer;
    }
  }
  input {
    height: 100%;
    width: 85%;
    margin-left: 5px;
    border-width: 0 0 1px 0;
    border-bottom: 1px solid $light-grey;
    background-color: rgba(0, 0, 0, 0);
    &:disabled {
      background-color: rgba(0, 0, 0, 0);
      width: 100%;
    }
    &:active {
      border-bottom: 1px solid $light-grey;
    }
  }
  input.completed {
    text-decoration: line-through;
  }
}
