@import 'pages/to-do-list',
        'pages/to-do-card',
        'pages/to-do-card-maximized';
@import '~sass-mq';

body {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  @include customize-scrollbar(0.3em);
}
